@font-face {
	font-family: 'Merge';
	src:url('../Content/fonts/merge_light.eot');
	src: local('☺'),
		url('../Content/fonts/merge_light.otf') format('opentype'),
		url('../Content/fonts/merge_light.ttf') format('truetype'),
		url('../Content/fonts/merge_light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
